In [5]:
import pandas as pd
from pandas.tseries.offsets import *
time='20200312231901'
date=pd.to_datetime(time)
print(date)

2020-03-12 23:19:01

In [16]:
%%time
import pandas as pd
#from pandas.tseries.offsets import *
%time data = pd.read_csv("MET20170102.csv", dtype=str, sep=' ')
time=data['入站时间']
print(time)
t=pd.to_datetime(time, errors='coerce')
print(t)

Wall time: 1.3 s
0         20170102141900
1         20170102072443
2         20170102100358
3         20170102212702
4         20170102130139
               ...
911594    20170102162046
911595    20170102193850
911596    20170102141011
911597               NaN
911598               NaN
Name: 入站时间, Length: 911599, dtype: object
0        2017-01-02 14:19:00
1        2017-01-02 07:24:43
2        2017-01-02 10:03:58
3        2017-01-02 21:27:02
4        2017-01-02 13:01:39
                 ...
911594   2017-01-02 16:20:46
911595   2017-01-02 19:38:50
911596   2017-01-02 14:10:11
911597                   NaT
911598                   NaT
Name: 入站时间, Length: 911599, dtype: datetime64[ns]
Wall time: 1min 4s

In [12]:
import pandas as pd
%time data = pd.read_csv("MET20170102.csv", dtype=str, sep=' ')
print(data)

Wall time: 1.31 s
              交易日期        时间               卡面号   卡种       设备号      站点号  \
0       2017-01-02  14:41:16  0000993172268096  003  22020907  0000009
1       2017-01-02  08:07:36  0000993172268092  003  22046202  0000062
2       2017-01-02  10:36:53  0000993172268092  003  22040403  0000004
3       2017-01-02  21:42:59  0000993172254333  030  22023205  0000032
4       2017-01-02  13:19:16  0000993172254333  030  22022606  0000026
...            ...       ...               ...  ...       ...      ...
911594  2017-01-02  17:19:30  0000997178542944  007  29071223  0000112
911595  2017-01-02  20:35:17  0000997178542944  007  22023003  0000030
911596  2017-01-02  14:34:56  0000997178524850  007  29070303  0000103
911597      911597      rows         selected.  NaN       NaN      NaN
911598        SQL>     spool               off  NaN       NaN      NaN

                  入站时间    入站站点号
0       20170102141900  0000032
1       20170102072443  0000004
2       20170102100358  0000062
3       20170102212702  0000026
4       20170102130139  0000032
...                ...      ...
911594  20170102162046  0000030
911595  20170102193850  0000112
911596  20170102141011  0000009
911597             NaN      NaN
911598             NaN      NaN

[911599 rows x 8 columns]

In [43]:
import pandas as pd
from pandas.tseries.offsets import *
time='20200312231901'
t='20200312231902'
date=pd.to_datetime(time)
T=pd.to_datetime(t)
print(T)
print(date)
T>date

2020-03-12 23:19:02
2020-03-12 23:19:01

True